<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
  <div class="grid">
    <div class="box header">
      <h1 class="text-tittle">Erik Hernández</h1>
      <p class="text-tittle">Full-stack web developer</p>
    </div>

    <div class="box profile">
      <h2 class="tittle-section">PERFIL PROFESIONAL</h2>
      <p class="description-profile">
        Soy un desarrollador Web Full Stack con gran conocimiento y práctica
        con distintos frameworks, librerías y tecnologías enfocadas al
        desarrollo web, tales como: React | Node | SQL | NoSQL | Express |
        Redux | TypeScript. Manejando herramientas para el control de
        versiones como GIT, junto con otras herramientas para la etapa de
        producción y/o mantenimiento de software.
      </p>
      <p class="description-profile">
        Soy alguien con la capacidad de trabajar en equipo de forma
        proactiva y con cumplimiento de objetivos de forma puntual.
        promoviendo siempre la colaboración y comunicación asertiva. Me
        desataco por mi rápido entendimiento y adaptabilidad, permitiéndome
        integrar de forma rápida al equipo adaptándome a las metodologías
        manejadas
      </p>
    </div>
    <div class="box adress">
      <h2 class="tittle-section">Dirección</h2>
      <ul class="list">
        <li class="country bg-li-img">Colombia - Bogotá D.c</li>
        <li class="postal bg-li-img">código postal: 17569</li>
      </ul>
    </div>
    <div class="box contac">
      <h2 class="tittle-section">Contacto</h2>
      <ul class="list">
        <li class="linkedin bg-li-img">
          <a
            href="https://www.linkedin.com/in/erik-desarrolladorweb/"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li class="gmail bg-li-img">
          <a href="mailto:erik.h.1002@gmail.com">Gmail</a>
        </li>
        <li class="whastsapp bg-li-img">
          <a href="https://wa.link/inz9pw" target="_blank">Whastsapp</a>
        </li>
        <li class="github bg-li-img">
          <a href="https://github.com/ErikCasas" target="_blank"> GitHub</a>
        </li>
        <li class="number bg-li-img">312-556-23-06</li>
      </ul>
    </div>
    <div class="box habilities">
      <h2 class="tittle-section">Habilidades</h2>
      <ul class="list">
        <li class="react bg-li-img">React.js</li>
        <li class="javaScript bg-li-img">JavaScript</li>
        <li class="work bg-li-img">Trabajo en equipo</li>
        <li class="sql bg-li-img">SQL</li>
        <li class="nosql bg-li-img">NoSQL</li>
        <li class="typeScript bg-li-img">TypeScript</li>
        <li class="node bg-li-img">Node.js</li>
        <li class="express bg-li-img">Express.js</li>
        <li class="jest bg-li-img">Jest</li>
      </ul>
    </div>
    <div class="box exp">
      <h2 class="tittle-section">Experiencia</h2>
      <h4>Web Programming Mentor</h4>
      <ul class="list">
        <li>Maestro de programación web</li>
        <li>Implementación de metodologías agiles</li>
        <li>Implementación de buenas practicas</li>
      </ul>
      <h4>Operario de maquina</h4>
      <ul class="list">
        <li>Mantenimiento preventivo y correctivo</li>
        <li>Buscar soluciones recursivas</li>
        <li>Trabajar bajo estres con control</li>
      </ul>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
